/PSP/Examen_20-21/JavaApplication3/nbproject/private/
/PSP/Examen_20-21/Examen_1parcial_20-21/nbproject/private/
/PSP/Examen_20-21/Examen_1parcial_20-21/build/
/AD/Tareas/Tarea 5/Tarea_5_AD/nbproject/private/
/PSP/Tareas/Tarea 5/TAREA_4_PSP/Ejercicio_1/nbproject/private/
/PSP/Tareas/Tarea 5/TAREA_4_PSP/Ejercicio_1/build/
/DI/Tareas/Tarea 5/TAREA-5_DI/nbproject/private/
/DI/Tareas/Tarea 5/TAREA-5_DI/build/
/PSP/Tareas/Tarea 5/TAREA_5_PSP/Ejercicio_1/build/
/PSP/Tareas/Tarea 5/TAREA_5_PSP/Ejercicio_2/nbproject/private/
/PSP/Tareas/Tarea 5/TAREA_5_PSP/Ejercicio_2/build/
/DI/Tareas/Tarea 6/Tarea_6_DI/nbproject/private/
/DI/Tareas/Tarea 6/Tarea_6_DI/build/
/PSP/Tareas/Tarea 6/Tarea_6_PSP/nbproject/private/
/PSP/Tareas/Tarea 6/Tarea_6_PSP/build/
/PSP/Tareas/Tarea 6/GetProps/nbproject/private/
/PSP/Tareas/Tarea 6/GetProps/build/
/PSP/Tareas/Tarea 6/Tarea_6_PSP/dist/
/DI/Tareas/Tarea 6/Tarea_7_DI/nbproject/private/
/DI/Tareas/Tarea 7/Tarea_7_DI/nbproject/private/
/DI/Tareas/Tarea 7/Recursos tarea/Fuentes_Tarea_U07/build/
/DI/Tareas/Tarea 7/Recursos tarea/Fuentes_Tarea_U07/nbproject/private/
/DI/Tareas/Tarea 7/Recursos tarea/Fuentes_Tarea_U07/dist/
/DI/Tareas/Tarea 7/Fuentes_Tarea_U07/build/
/DI/Tareas/Tarea 7/Fuentes_Tarea_U07/dist/
/DI/Tareas/Tarea 7/Fuentes_Tarea_U07/nbproject/private/
